DataScienceEcosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the commonly used libraries used by Data Scientists include:
1. python
2. R
3. SQL

 Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks        |
| RStudio                  |
| VS Code                  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**

-List popular languages for data science <br>
-List popular programs for data science <br>
-Convert 200 minutes to hours <br>

## Author
Aaron Burgard